/* ################# ELEMENT HTML ################# */
body{
    width:auto;
	margin:auto;
}
a{ text-decoration:none; }

/************************/
/*	      HEADER		*/
/************************/
.navbar{
	padding-top:50px;
	height:600px;
	background: url("../img/bg-header.jpg") no-repeat center;
	background-size: 1920px 700px;
}
.navbar .container{
	width:80%;
	margin:auto;
	display:flex;
	flex-direction: row;
	border-bottom: 1px solid black;
}
.navbar-social{
	width:10%;
}
.navbar-menu{
	width:80%;
	text-align: center;
}
.navbar-menu ul li{
	list-style:none;
	padding-left: 10px; padding-right: 10px;
	display:inline-block;
}
.navbar-menu a{
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color:#000;
}
.navbar-lang{
	width:10%;
	text-align:right;
}
.navbar-lang-img{
	width:25px; height:25px;
}
.navbar .navbar-logo img{
	display:block;
	margin:auto;
}

/************************/
/*	     BLOC INFO		*/
/************************/

.informations{
	height:300px;
	background-color:#000;
	box-shadow: -11px 2px 15px #000;
	z-index: 100;
}
.informations-before{
	height:20px;
	background-color:#fcd614;
}
.informations .container{
	display:flex;
	flex-direction: row;
	width:80%;
	margin:auto;
	margin-top:50px;
	font-size: 0px;
}
.informations .informations-texte{
	width:60%;
	color:#FFF;
	text-align: justify;
	font-size:16px;
	text-transform: uppercase;
	margin-right:10px;
}
.informations .informations-image{
	width:40%;
	text-align: center;
}
.informations .informations-image-img{
	width:350px;
}

.middle{
	display:flex;
	flex-direction: row;
}
.middle .middle-actus{
	width:80%;
	padding-left:50px;
	padding-right:50px;
}
.middle .middle-sidebar-right{
	width:20%;
	padding-left: 10px; padding-right:10px; padding-top: 10px; padding-bottom: 10px;
	background-color: #ACACAC;
	z-index: 1;
}



.footer{
	background-color: #0B0B0B;
	color:#FFF;
	height:400px;
}
.footer .container{
	width:80%;
	display:flex;
	flex-direction: row;
	margin:auto;
	padding-top: 50px;
}
.footer .footer-newsletter{
	width:60%;
}
.footer .footer-liens{
	width:40%;
}